.nav {
  height: 50px;
  justify-content: space-between;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.hero {
  padding-left: 200px;
  padding-top: 50px;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
}

.btn-primary {
  margin: 100px;
  border-radius: 20px;
}
